.each-book-souhait{
  background-color: white;
  margin: 10px auto;
  border-radius: 40px;
  max-width: 50%;
  box-shadow: 10px 10px 20px black;
}
/* Styles pour la section des détails du livre */
.book-details {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.book-details__image-container {
  margin-right: 50px;
}

.book-details__image-container img {
  max-width: 100%;
}

.book-details__info {
  width: 70%;
}

.book-details__info h2 {
  font-size: 28px;
  font-family: 'Roboto', sans-serif;
  color: #0074C6;
}
a.book-details_link:visited{
  color: #0074C6;
}
a.book-details_link:hover{
  text-decoration: underline;
}

.book-details__info p {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 10px;
}

.book-details__synopsis {
  line-height: 1.5;
}

.book-details__author {
  font-style: italic;
  font-family: 'Roboto', sans-serif;
}

.book-details__stat {
  display: flex;
  margin-bottom: 10px;
}

.book-details__label {
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  margin-right: 10px;
}

.book-details__rating-stars,
.book-details__sales-progress {
  display: flex;
  height: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.book-details__rating-stars--fill,
.book-details__sales-progress--fill {
  background-color: #ffcc00;
}

.book-details__rating-stars--empty,
.book-details__sales-progress--empty {
  background-color: #eee;
}

.book-details__rating-text {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  margin-left: 10px;
}

.book-details__sales-count {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
}

.book-details__sales-progress--fill {
  border-radius: 5px;
}

/* Styles pour le bouton favoris */
.favorite-button {
  display: inline-block;
  padding: 5px 10px;
  border: none;
  border-radius: 20px;
  font-size: 14px;
  cursor: pointer;
}

.favorite-button-add{
  background-color: #ACCBFD;
}
.favorite-button-add:hover{
  background-color: #CFE0F9;
}

.favorite-button-remove{
  background-color: #df1b1b;
  color:white;
}
.favorite-button-remove:hover{
  background-color: #FF4C4C;
}